body{
    background-color: rgba(30, 30, 30, 0.945);
    margin:0px;
    font-family: 'Montserrat';
}

.showing{
    display: block !important;
}


#tabs a, #photoDetails a{
    font-size: 1em;
    border-style: outset;
    border-radius: 5%;
    box-sizing: border-box;
    cursor:pointer;    
    color:black;
    background-color: #EEEEEE;
    appearance: button;
    width: 100%;
    text-align:center;
    text-decoration: none;
    border-color: white;
    margin:5px;
    height: fit-content;
}

.modal{
    display: none;
    position: fixed;
    width: 100%;
    height:100%;
    z-index: 1;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.9);
}


.modal img{
    min-width: 100%;
    margin: auto;
    max-height: 70%;
    object-fit: contain;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle
}
@media only screen and (max-width: 700px){
  .modal {
    width: 100%;
  }
}


#modalDiv{
  color: white;
  overflow:auto;
}

.positionCenter{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: -50%;
    right:-50%;
    max-height: 100% !important;
  }
  

.stretchFullscreen{
    max-width: 100vh !important;
    /* max-height: 100vh !important; */
    min-width: auto !important;
} 

@media (max-aspect-ratio: 1/1){
  .stretchFullscreen{
    max-width: 100vh !important;
    max-height: 100vw !important;
    min-width: auto !important;
  }  
}

.close{
    cursor: pointer;
    font-size: 3em;
    position: absolute;
    background: none;
    color: white;
    z-index: 2;
    border-style: none;
    top:0%;
    right:0%;
}

#imageTitle{
    margin: auto;
}

#details{
    overflow:visible;
    width:100%;
}

.options{
    position: absolute;
    top:0%;
    display: flex;
    right: 0%;
    left:0%;
    
    z-index: 2;
    font-size: 1em;
}

:root{
--rotation-value: 0deg;
}

.rotateImage {
-webkit-transform:rotate( var(--rotation-value));
-moz-transform: rotate(var(--rotation-value));
-ms-transform: rotate(var(--rotation-value));
-o-transform: rotate(var(--rotation-value));
transform: rotate(var(--rotation-value));
}

#rotateImage{
display: none;
}